<h1><%= @artist.name %></h1><br />
<%= image_tag @artist.image_path %>
<%= link_to "Edit", edit_artist_path %>
<%= link_to "Delete", artist_path(@artist), method: :delete, data: {confirm: "Are you sure you want to delete this artist?"} %>
<%= link_to "New song", new_artist_song_path(@artist) %>
